.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @mixin UIBase {
        display: block;
        height: 100vh;
    }

    &_sidebar {
        @include UIBase();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        width: 200px;
        max-width: 500px;
        min-width: 200px;
        overflow: auto;
        resize: horizontal;
        background-color: $slategray-200;

        // hide scrollbars
        -ms-overflow-style: none; /* ms windows */
        scrollbar-width: none; /* firefox */

        &::-webkit-scrollbar { display: none; }
    }

    .options {
        span, a {
            color: $slategray-500;
            cursor: pointer;
            text-decoration: none;

            div {
                display: inline-block;
                margin-left: 5px;
            }

            &:hover { color: $slategray-600; }
        }

        a {
            display: block;
            margin-bottom: 10px;
        }
    }

    &_wrapper {
        @include UIBase();
        padding: 15px 40px;
        overflow-y: scroll;
        width: 90%;
    }

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .toolbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .btn {
            margin: {
                top: 0 !important;
                right: 5px;
            }
        }

        &_spotlight {
            display: flex;
        }
    }
}

@media screen and (max-width: 1024px) {
    .app_sidebar {
        display: block;
        padding: 12px;
        max-width: 89px !important;
        min-width: 89px !important;
        .options {
            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 2px;
                padding: 18px 9px 9px 9px;
                text-align: center;
                font-size: 10px;

                i {
                    $icon-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: $icon-size;
                    width: $icon-size;
                    margin: auto;
                    display: inline-block;
                    font-size: 22px;
                    margin-bottom: 8px;
                }

                &_name {
                    display: block;
                }
            }
        }
    }

    .app_content {
        padding: 15px 10px;
    }
}
