.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

        @mixin UIBase {
            display: block;
            height: 100vh;
        }

    .options {
        span, a {
            color: $slategray-500;
            cursor: pointer;
            text-decoration: none;

            div {
                display: inline-block;
                margin-left: 5px;
            }

            &:hover { color: $slategray-600; }
        }

        a {
            display: block;
            margin-bottom: 10px;
        }
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        padding: 15px 40px;
        overflow-y: scroll;
        width: 100%;
        position: relative;
        height: 100vh;
        position: relative;
    }

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 200px);
        height: 75px;
        background-color: rgba($slategray-200, 0.8);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        position: fixed;
        right: 0;
        top: 0;
        padding: 5px 38px 0 38px;
        border-bottom: 1px solid $slategray-300;
    }

    .header_spacing {
        display: block;
        height: 100px;

        max-width: 100%;
    }

    .toolbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .btn {
            margin: {
                top: 0 !important;
                right: 5px;
            }
        }

        &_spotlight {
            display: flex;
        }
    }

    // date and time

    &_date {
        display: block;
        width: 50px;
        text-align: center;
        box-shadow: $input-shadow;
    }

    &_month {
        display: block;
        background-color: $red-500;
        color: $white;
        font-size: 10px;
        letter-spacing: 1px;
        border: 1px solid $red-600;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        padding: 0 2px
    }

    &_dayDate {
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 22px;
        border: 1px solid $slategray-400;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        background-color: $white;
    }

    &_time {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: $slategray-300;
    }
}

@media screen and (max-width: 1024px) {
    .app_sidebar {
        width: 80px;
        max-width: 80px;
        min-width: 80px;

        .menu, .sidebar { width: fit-content; }
        .menu_brandicon {
            display: block;
            height: 34px;
            width: 23px;
            background-image: url('../pictures/icon_login-light.png');
            background-size: cover;
            background-position: center;
            margin: 0 auto;
        }

        .menu_brandname { display: none; }
        .menu_username { display: none; }
        .menu_item {
            display: block;
            width: fit-content;
            margin-bottom: 10px;

            &_label {
                width: 50px;
                i {
                    display: block;
                    font-size: 22px;
                    text-align: center;
                }

                span {
                    display: none;
                    padding: 5px 10px;
                    position: absolute;
                    left: 70px;
                    transform: translateY(-22px);
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    background-color: $slategray-600;
                    border-radius: 4px;
                    color: $slategray-200;
                    z-index: 200;
                    box-shadow: $input-shadow;
                    transition: 0.3s all ease-in-out
                }

                // show item name when hover
                &:hover span {
                    display: block;
                }
            }
        }

        .sidebar_bottom {
            .menu_links, .menu_logout {
                display: block;
                width: fit-content;
                .menu_link_item {
                    display: block;
                    width: 100%;
                }

                .menu_link_item_label {
                    i {
                        display: block;
                        font-size: 22px;
                        text-align: center;
                    }

                    span {
                        display: none;
                        padding: 5px 10px;
                        font-size: 10px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        position: absolute;
                        border-radius: 8px;
                        left: 70px;
                        transform: translateY(-22px);
                        height: fit-content;
                        background-color: $slategray-600;
                        color: $slategray-100;
                        transition: 0.3s all ease-in-out;
                    }

                    // show item name when hover
                    &:hover span {
                        display: block;
                    }

                    a {
                        background-color: red;
                    }
                }
            }
        }

        // submenus
        .menu_items {
            left: 75px;
            margin: 0;

            &:first-child {
                margin-top: 0;
            }

            border: {
                width: 0;
                radius: 5px;
            }

            background-color: $slategray-200;

            .menu_item {
                margin: 5px 0 0 0;

                &_label {
                    display: block;
                    i {
                        font-size: 16px;
                    }
                }

                &-isActive {
                    .menu_item_label {
                        color: $slategray-700;
                    }
                }
            }
        }
    }

    .app_wrapper {
        padding: 25px 20px;
    }

    .app_header {
        width: calc(100% - 80px);
    }
}
