.dark {
    &, html, body {
        background-color: $gray-900;
    }

    .app {
        // date and time
        &_month {
            display: block;
            color: $gray-200;
        }

        &_day {
            display: block;
            font-size: 28px;
            font-weight: $black;
            color: $gray-500;
        }

        &_time {
            display: block;
            color: $gray-500;
        }
    }

    @import './dark/alerts';
    @import './dark/buttons';
    @import './dark/fonts';
    @import './dark/form';
    @import './dark/inputs';
    @import './dark/login';
    @import './dark/menu';
    @import './dark/modal';
    @import './dark/pagination';
    @import'./dark/select';
    @import './dark/sidebar';
    @import './dark/table';
    @import './dark/toggle';
}
