.dark_slategray {
    &, html, body {
        background-color: $slategray-900;
    }

    .app {
        // date and time
        &_month {
            display: block;
            color: $neutral-200;
        }

        &_day {
            display: block;
            font-size: 28px;
            font-weight: $black;
            color: $slategray-500;
        }

        &_time {
            display: block;
            color: $slategray-500;
        }
    }

    @import './dark_slategray/alerts';
    @import './dark_slategray/buttons';
    @import './dark_slategray/fonts';
    @import './dark_slategray/form';
    @import './dark_slategray/inputs';
    @import './dark_slategray/login';
    @import './dark_slategray/menu';
    @import './dark_slategray/modal';
    @import './dark_slategray/pagination';
    @import './dark_slategray/sidebar';
    @import './dark_slategray/table';
    @import './dark_slategray/toggle';
}
