@media screen and (prefers-color-scheme: dark) {
    html, body {
        background-color: $slategray-900;
    }

    .app {
        // date and time
        &_month {
            display: block;
            color: $neutral-200;
        }

        &_day {
            display: block;
            font-size: 28px;
            font-weight: $black;
            color: $slategray-500;
        }

        &_time {
            display: block;
            color: $slategray-500;
        }
    }

    @import './components/alerts';
    @import './components/buttons';
    @import './components/fonts';
    @import './components/form';
    @import './components/inputs';
    @import './components/login';
    @import './components/menu';
    @import './components/modal';
    @import './components/pagination';
    @import './components/sidebar';
    @import './components/table';
    @import './components/toggle';
}
