// TOOLS
@import "./Source/Tools/vars";
@import "./Source/Tools/reset";

// COMPONENTS
@import "./Source/Components/alerts";
@import "./Source/Components/badges";
@import "./Source/Components/buttons";
@import "./Source/Components/draganddrop";
@import "./Source/Components/fonts";
@import "./Source/Components/form";
@import "./Source/Components/inputs";
@import "./Source/Components/menu";
@import "./Source/Components/modal";
@import "./Source/Components/pagination";
@import "./Source/Components/preference";
@import "./Source/Components/selects";
@import "./Source/Components/tags";
@import "./Source/Components/table";
@import "./Source/Components/toggle";

// VIEWS
@import "./Source/Layouts/dateLayout";
@import "./Source/Layouts/appLayout";
@import "./Source/Layouts/loginLayout";
@import "./Source/Layouts/visitInformationLayout";

// DARK MODE
@import "./Source/Themes/dark";
@import "./Source/Themes/automatic";
