// ==========================
// COLORS
// ==========================

// Main : 500
$primary-100: #E0FBED;
$primary-200: #C2F7E0;
$primary-300: #9EE8CE;
$primary-400: #7ED1BC;
$primary-500: #54B3A4;
$primary-600: #3D9993;
$primary-700: #2A7E80;
$primary-800: #1A5E67;
$primary-900: #104655;

// green 500
$green-100: #EBFBDE;
$green-200: #D3F8BE;
$green-300: #AFEA99;
$green-400: #8BD679;
$green-500: #5CBC4F;
$green-600: #3DA139;
$green-700: #27872B;
$green-800: #196D23;
$green-900: #0F5A1E;

// BLUE 500
$blue-100: #D3EAFF;
$blue-200: #A9D2FF;
$blue-300: #7EB7FF;
$blue-400: #5D9FFF;
$blue-500: #2877FF;
$blue-600: #1D5BDB;
$blue-700: #1443B7;
$blue-800: #0C2F93;
$blue-900: #07207A;

// YELLOW 500
$yellow-100: #FFF8CC;
$yellow-200: #FFEF99;
$yellow-300: #FFE467;
$yellow-400: #FFDA41;
$yellow-500: #DDCD30;
$yellow-600: #D0CF21;
$yellow-700: #B78701;
$yellow-800: #936900;
$yellow-900: #7A5400;

// red 500
$red-100: #FFE8D8;
$red-200: #FFCCB2;
$red-300: #FFA98B;
$red-400: #FF886F;
$red-500: #FF523F;
$red-600: #DB312E;
$red-700: #B71F29;
$red-800: #931426;
$red-900: #7A0C24;

// SLATE 500
$slategray-100: #F7FBFC;
$slategray-200: #F1F5F9;
$slategray-300: #E2E8F0;
$slategray-400: #CCD5E1;
$slategray-500: #94A2B8;
$slategray-600: #64738C;
$slategray-700: #475469;
$slategray-800: #324255;
$slategray-900: #1E293B;

// GRAY 500
$gray-100: #F8FAFA;
$gray-200: #F4F4F6;
$gray-300: #E5E6EC;
$gray-400: #D1D5DB;
$gray-500: #9AA3AE;
$gray-600: #6B7280;
$gray-700: #4C5563;
$gray-800: #374151;
$gray-900: #1F2937;

// ZING 500
$zing-100: #FAFAFA;
$zing-200: #F4F4F5;
$zing-300: #E4E4E7;
$zing-400: #D4D4D8;
$zing-500: #A1A1AA;
$zing-600: #71717A;
$zing-700: #52525B;
$zing-800: #3F3F46;
$zing-900: #27272A;

// NEUTRAL 500
$neutral-100: #FAFAFA;
$neutral-200: #F5F5F5;
$neutral-300: #E5E4E5;
$neutral-400: #D4D4D4;
$neutral-500: #A3A3A3;
$neutral-600: #737373;
$neutral-700: #525252;
$neutral-800: #404040;
$neutral-900: #272626;

// STONE 500
$stone-100: #FAFAF9;
$stone-200: #F5F5F4;
$stone-300: #E7E5E4;
$stone-400: #D5D3D1;
$stone-500: #A8A29F;
$stone-600: #78716B;
$stone-700: #56534F;
$stone-800: #44403B;
$stone-900: #292524;

$white: #FFF;

$table-header-background: $primary-500;
$table-row-background: $slategray-100;

// Text colors
$color-heading : $slategray-700;
$color-pharagraph : $slategray-500;
$color-lead-text : $slategray-400;
$color-disable : $slategray-300;
$color-link : $blue-500;

$color-dark-heading : $slategray-100;
$color-dark-pharagraph : $slategray-400;
$color-dark-lead-text : $slategray-500;
$color-dark-disable : $slategray-700;
$color-dark-link : $blue-300;

// ==========================
// COLORS
// ==========================

$thin : 100;
$extra-light : 200;
$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;
$extra-bold : 800;
$black : 900;

// ==========================
// BORDERS
// ==========================
$border-color: $slategray-300;
$border-color-dark: $neutral-800;

$border-regular: 1px solid $border-color;
$border-regular-dark: 1px solid $border-color-dark;

// ==========================
// SHADOWS
// ==========================
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
$input-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
