@mixin black-header {
    font-weight: $black;
    letter-spacing: 0.087px;
    color: $gray-900;
}

h1, .heading-1 {
    @include black-header;
    font-size: 3.81rem;
}

h2, .heading-2 {
    @include black-header;
    font-size: 3.05rem;
}

h3, .heading-3 {
    @include black-header;
    font-size: 2.44rem;
}

h4, .heading-4 {
    font-size: 1.95rem;
    font-weight: $extra-bold;
}

h5, .heading-5 {
    font-size: 1.56rem;
    font-weight: $extra-bold;
}

h6, .heading-6 {
    font-size: 1.25rem;
    font-weight: $extra-bold;
}

p, .pharagraph {
    color: $gray-700;
    font-size: 1rem;
    font-weight: regular;
}

a, .link {
    color: $blue-500;
    font-size: 1rem;
    font-weight: $regular;
}

.link_underline {
    color: $color-link;
    font-size: 1rem;
    font-weight: $regular;
    text-decoration: underline;

    &_onHover {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.lead { color: $color-lead-text; }

.monospace { font-family: monospace !important; }
