button,
input,
textarea,
video,
img {
    appearance: none;
}

.form {
    padding: 5px 0;

    &_label {
        display: block;
        font-size: 12px;
        font-weight: $medium;
        margin-bottom: 5px;
        color: $slategray-700
    }

    &_group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
