button,
input,
textarea,
video,
img {
    appearance: none;
}

.form {
    padding: 5px 0;

    &_label {
        display: block;
        font-size: 12px;
        font-weight: $medium;
        margin-bottom: 5px;
        color: $slategray-700
    }

    &_group {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .input_group {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
