button,
input,
textarea,
video,
img {
    appearance: none;
}

.form {
    padding: 5px 0;

    &_label {
        display: block;
        font-weight: $medium;
        margin-bottom: 10px;
        color: $slategray-700
    }
}
