// .input_group {
//     margin-top: 20px;
// }

.input {
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Inter'; // TODO: change to variable
    padding: 9px 12px;
    border-radius: 4px;
    border: $border-regular;
    width: 100%;
    outline: none;
    transition: 0.3s all ease;
    color: $slategray-800;
    box-shadow: $input-shadow;

    &:focus {
        border-color: $blue-500 !important;
    }

    &_block {
        width: 37px !important;
        height: 37px;
        text-align: center;
        font-size: 18px;
    }

    &::placeholder {
        color: $slategray-400;
    }

    &_group {
        margin-top: 20px;
    }

    &_spotlight {
        width: 0;
        padding: 0;
        border-width: 0 !important;
        outline: none;

        &:focus {
            width: auto;
            padding: 9px 12px;
            border-width: 1px !important;
            border-color: $blue-500 !important;

            & + .spotlight_label {
                width: 0;
                padding: 0;
                border-width: 0;
                display: none;
            }
        }
    }

    &:disabled {
        color: $slategray-900;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        cursor: not-allowed;
    }

    &_error {
        border-color: $red-500;
        color: $red-500;

        &:focus {
            border-color: $red-500 !important;
            color: $slategray-500;
        }
    }

    // Use monospace font for important inputs */
    // &-mono {
    //     font-family: monospace;
    // }
}
