.menu {
    display: block;

    &_brandicon {
        display: none;
    }

    &_brandname {
        text-transform: uppercase;
        font-weight: $black;
        letter-spacing: 2px;
        color: $slategray-800;
        font-size: 18px;
    }

    &_username {
        display: block;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: $medium;
        color: $slategray-700;
    }

    &_item {
        display: block;
        margin: 5px 0;
        font-size: 12px;

        &_label {
            color: $slategray-600;
            border-radius: 5px;
            padding: 8px 10px;
            border: 1px solid transparent;
            transition: 0.2s all ease-in-out;
        }

        // STATES
        // menu item
        &-isActive {
            .menu_item_label {
                background-color: $slategray-300;
                border-color: $slategray-400;
                color: $slategray-900;
            }

            // .menu_item .menu_item_label {
            //     background-color: transparent;
            //     border-color: transparent;
            // }
        }

        // toggles
        &_toggle &s {
            display: none;
        }

        // sub-items
        &s {
            margin-left: 8px;
            border-left: 1px dashed $slategray-500;

            .menu_item {
                margin-left: 8px;
            }
        }

        &_toggle-isActive &s {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        &_brandname {
            display: none;
        }

        &_brandicon {
            display: block;
            height: 30px;
            margin: 0 auto 10px auto;
        }

        &_username {
            font-size: 12px;
            text-align: center;
        }

        &_item {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5px;
            padding: 18px 9px 9px 9px;

            &_icon {
                $icon-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: $icon-size;
                width: $icon-size;
                margin: auto;
            }

            &_name {
                display: block;
                text-align: center;
                font-size: 10px;
            }

            .fa-regular {
                display: inline-block;
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }
}

// @media screen and (max-width: 420px) {}
