.sidebar {
    width: 100%;
    position: relative;

    &_bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    &_brand {
        padding: 15px 20px 0px 20px;
    }
}

.menu {
    display: block;
    position: relative;

    &, &_links, &_logout {
        padding: 15px;
    }

    &_brandicon {
        display: none;
    }

    &_brandname {
        text-transform: uppercase;
        font-weight: $black;
        letter-spacing: 2px;
        color: $slategray-800;
        font-size: 18px;
    }

    &_username {
        display: block;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: $medium;
        color: $slategray-700;
    }

    &_item {
        display: block;
        margin: 5px 0;
        font-size: 12px;

        &_label {
            color: $slategray-600;
            border-radius: 5px;
            padding: 8px 10px;
            border: 1px solid transparent;
            transition: 0.2s all ease-in-out;
        }

        // STATES
        // menu item
        &-isActive {
            .menu_item_label {
                background-color: $slategray-300;
                border-color: $slategray-400;
                color: $slategray-900;
            }
        }

        // toggles
        &_toggle &s {
            display: none;
        }

        // sub-items
        &s {
            margin-left: 8px;
            border-left: 1px dashed $slategray-500;

            .menu_item {
                margin-left: 8px;
            }
        }

        &_toggle-isActive &s {
            display: block;
        }
    }

    &_link_item {
        display: block;
        text-decoration: none;
        font-size: 12px;
        color: $slategray-600;

        &_label {
            color: $slategray-600;
            border-radius: 5px;
            padding: 8px 10px;
            border: 1px solid transparent;
            transition: 0.2s all ease-in-out;
        }
    }
}
