@mixin State {
    font-size: 10px;
    font-style: normal;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 5px 10px;
    color: $white;
    border-radius: 20px;
}

.user_active {
    @include State();
    background-color: $green-500;
}

.user_inactive {
    @include State();
    background-color: $neutral-500;
}
