table,
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
    appearance: none;
    box-shadow: $box-shadow;
    border-radius: 10px;
    background-color: $white; // Controls table background
    overflow: hidden;
    
    thead,
    .thead {
        background-color: $slategray-500;
        
        tr {
            background-color: inherit;
            
            th:last-child {
                border-top-right-radius: 10px;
            }
            
            th:first-child {
                border-top-left-radius: 10px;
            }
        }
        
        th {
            padding: 15px 20px;
            text-align: left;
            color: $white;
            text-transform: uppercase;
        }
    }
    
    tbody,
    .tbody {
        background-color: $white;
        border: 1px solid $slategray-300;
        
        tr {
            background-color: inherit;
            
            &:nth-child(even) {
                background-color: $slategray-200;
            }
            
            // Define el radio de los últimos datos de las tablas
            &:last-child {
                td {
                    &:last-child { border-bottom-right-radius: 10px; }
                    
                    &:first-child { border-bottom-left-radius: 10px; }
                }
            }
            
            td {
                padding: 10px;
                padding-left: 20px;
                color: $slategray-500;
                
                &:first-child {
                    font-weight: $medium;
                    color: $slategray-700;
                    padding-left: 20px;
                }
            }

            &:hover td {
                color: $slategray-700;
                transition: 0.2s all ease-in-out;

                & button {
                    background-color: $green-500 !important;
                    color: $white;
                    border-color: $green-600;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    table,
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 25px;
        border-radius: 5px;

        thead,
        .thead {
            background-color: $slategray-500;

            tr {
                background-color: inherit;

                th:last-child {
                    border-top-right-radius: 10px;
                }

                th:first-child {
                    border-top-left-radius: 10px;
                }
            }

            th {
                padding: 15px 20px;
                text-transform: uppercase;
            }
        }

        tbody,
        .tbody {
            tr {
                // Define el radio de los últimos datos de las tablas
                &:last-child {
                    td {
                        &:last-child { border-bottom-right-radius: 5px; }

                        &:first-child { border-bottom-left-radius: 5px; }
                    }
                }

                td {
                    padding: 10px;
                    padding-left: 20px;

                    &:first-child {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.user-type {
    .type {
        display: block;
        padding: 10px 20px !important;
        width: 100%;
        max-width: fit-content;
        text-align: left;
        font-size: 10px;
        font-weight: $bold;
        letter-spacing: 1px;
        color: $white !important;
        border-radius: 50px;
        background-color: $primary-400;
    }
}

// MISC
.table-button-group {
    display: block;
    width: 100%;
    max-width: fit-content;

    .button {
        display: inline-block !important;
    }
}
