.sidebar {
    hr {
        border-color: $neutral-700 !important;
    }
}

.menu {
    &_brandname {
        color: $neutral-100;
    }

    &_username {
        color: $neutral-400;
    }

    &_item {
        color: $neutral-500;

        &-isActive {
            .menu_item_label {
                background-color: $neutral-600;
                border-color: $neutral-500;
                color: $neutral-100
            }
        }

        &_label {
            color: $neutral-500;
        }

        &_name {
            display: inline-block;
        }

        &-isActive {
            background-color: rgba($neutral-900, 0.5);

            .menu_item_name {
                color: $neutral-100 !important;
            }
        }
    }


}
