.select {
    &::before {
        border-color: $slategray-700;
        background-color: $slategray-800;
        color: white;
    }

    &_options {
        position: absolute;
        top: 40px;
        width: 100%;
        background-color: $slategray-800;
        box-shadow: $input-shadow;
        overflow: hidden;
        z-index: 200;
        border: 1px solid $slategray-700;
        border-radius: 4px;
        display: none;

        .select_option {
            padding: 10px 20px;
            color: $slategray-100;

            &:hover {
                background-color: $slategray-700;
            }
        }
    }

    &_active {
        .select_options {
            display: block;
        }
    }
}
