// Buttons dark-mode
.btn {
    background-color: $slategray-800;
    border-color: $slategray-700;
    color: $slategray-100;

    &:hover {
        background-color: $slategray-600;
        border-color: $slategray-500;
        color: $slategray-400;
    }

    &:active {
        background-color: $slategray-700;
        border-color: $slategray-600;
    }

    // Status
    &_primary {
        background-color: $primary-600;
        border-color: $primary-500;

        &:hover {
            background-color: $primary-500;
            border-color: $primary-400;
            color: $primary-100;
        }

        &:active {
            background-color: $primary-700;
            border-color: $primary-500;
            color: $primary-100;
        }
    }

    &_success {
        background-color: $green-600;
        border-color: $green-500;

        &:hover {
            background-color: $green-500;
            border-color: $green-400;
            color: $green-100;
        }

        &:active {
            background-color: $green-700;
            border-color: $green-500;
            color: $green-100;
        }
    }

    &_warning {
        background-color: $yellow-600;
        border-color: $yellow-500;

        &:hover {
            background-color: $yellow-500;
            border-color: $yellow-400;
            color: $yellow-100;
        }

        &:active {
            background-color: $yellow-700;
            border-color: $yellow-500;
            color: $yellow-100;
        }
    }

    &_danger {
        background-color: $red-600;
        border-color: $red-500;

        &:hover {
            background-color: $red-500;
            border-color: $red-400;
            color: $red-100;
        }

        &:active {
            background-color: $red-700;
            border-color: $red-500;
            color: $red-100;
        }
    }

    &_table {
        color: $slategray-100;
        background-color: $slategray-800;
        border-color: $slategray-600;

        &:hover {
            background-color: $slategray-600;
            border-color: $slategray-500;
            color: $slategray-400;
        }

        &:active {
            background-color: $slategray-700;
            border-color: $slategray-600;
        }
    }
}
