.login {
    background-image: url("../pictures/login_background-dark.png");
    
    &_window {
        border: 1px solid $slategray-700;
        box-shadow: $box-shadow;
        background-color: $slategray-800;
    }

    &_showcase {
        .text {
            h4 { color: $white; }

            p { color: $slategray-500;}
        }
    }

    &_body {
        h1 {
            color: $white;
        }

        p {
            color: $slategray-500;
        }
    }

    &_footer {
        .icon_banner {
            .fa_duotone {
                color: $slategray-500;
            }
        }

        p {
            color: $slategray-500;
        }
    }
}
