.pagination {
    button {
        color: $slategray-500;

        &:hover {
            background-color: $slategray-800;
            border-color: $slategray-700;
            color: $slategray-200;
        }
    }

    .active {
        border: 1px solid $blue-400;
        background-color: $slategray-900;
        color: $blue-400;

        &:hover {
            border: 1px solid $blue-300;
            background-color: $slategray-800;
            color: $blue-300;
        }
    }
}
