table, .table {
    background-color: $slategray-800; // Controls table background

    thead, .thead {
        background-color: $slategray-600;
    }

    tbody,
    .tbody {
        background-color: inherit;
        border: 1px solid $slategray-800;

        tr {
            background-color: inherit;
            border: 1px solid $slategray-600;

            &:nth-child(even) {
                background-color: $slategray-700;
            }

            // Define el radio de los últimos datos de las tablas
            &:last-child {
                td {
                    &:last-child { border-bottom-right-radius: 10px; }

                    &:first-child { border-bottom-left-radius: 10px; }
                }
            }

            td {
                color: $slategray-400;

                &:first-child {
                    font-weight: $medium;
                    color: $slategray-100;
                    padding-left: 20px;
                }
            }

            &:hover td {
                color: $slategray-100;
                background-color: $slategray-800;
                transition: 0.2s all ease-in-out;

                .btn {
                    background-color: $primary-500 !important;
                    border-color: $slategray-700;
                }
            }
        }
    }
}
