.alert {
    background-color: $gray-800;
    border-color: $gray-700;
    box-shadow: $box-shadow;

    .fa-warning {
        color: $yellow-600;
    }

    &_msg {
        &_title {
            color: $neutral-300;
        }

        &_content {
            color: $neutral-400;
        }
    }

    .close_btn {
        &:hover {
            background-color: $neutral-200;
        }
    }
}
