h1, .heading-1 {
    color: $gray-300 !important;
}

h2, .heading-2 {
    color: $gray-300 !important;
}

h3, .heading-3 {
    color: $gray-300 !important;
}

h4, .heading-4 {
    color: $color-dark-heading;
    font-weight: $extra-bold;
}

h5, .heading-5 {
    color: $color-dark-heading;
    font-weight: $extra-bold;
}

h6, .heading-6 {
    color: $color-dark-heading;
    font-weight: $extra-bold;
}

p, .pharagraph {
    color: $color-dark-pharagraph;
    font-weight: regular;
}

a, .link {
    color: $color-dark-link;
    font-weight: $regular;
}

.link_underline {
    color: $color-dark-link;
}

.lead {
    color: $color-dark-lead-text;
}
