.sidebar {
    hr {
        border-color: $gray-700 !important;
    }
}

.menu {
    &_brandname {
        color: $gray-100;
    }

    &_username {
        color: $gray-400;
    }

    &_item {
        color: $gray-500;

        &-isActive {
            .menu_item_label {
                background-color: $gray-600;
                border-color: $gray-500;
                color: $gray-100
            }
        }

        &_label {
            color: $gray-500;
        }

        &_name {
            display: inline-block;
        }

        &-isActive {
            background-color: rgba($gray-900, 0.5);

            .menu_item_name {
                color: $gray-100 !important;
            }
        }
    }


}
