.preference_overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.preference_window {
    background-color: $gray-800;

    h1 {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 32px;

        i { color: $gray-400 }
    }

    section {
        border-top: 1px solid $gray-700;
    }

    h4 {
        i { color: $gray-400 }
    }

    .pref_button {
        display: block;
        border: none;
        background-color: transparent;
        appearance: none;
        font-family: 'Inter', sans-serif;

        &_group {
            button {
                display: inline-block;
                margin-right: 8px;
            }
        }
    }

    .aspect_button {
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: $gray-100;
            border-color:  $gray-300;
        }

        &.isActive {
            background-color: $gray-900;
            border-color:  $gray-700;
        }

        img {
            display: block;
            height: 55px;
        }

        span {
            display: block;
            margin-top: 4px;
            color: $gray-200;
        }
    }
}

.preferences_footer_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
        margin-left: 8px;
    }
}
