.preference_overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.preference_window {
    background-color: $gray-800;

    h1 {
        i {
            color: $gray-400;
        }
    }

    section {
        border-top: 1px solid $gray-700;
    }

    h4 {
        i {
            color: $gray-400;
        }
    }

    .pref_button {
        background-color: transparent;
    }

    .aspect_button {
        border: 1px solid transparent;

        &:hover {
            background-color: $gray-100;
            border-color: $gray-300;
        }

        &.isActive {
            background-color: $gray-900;
            border-color: $gray-700;
        }

        span {
            color: $gray-200;
        }
    }
}
