.select {
    &::before {
        border-color: $gray-700;
        background-color: $gray-800;
        color: white;
    }

    &_options {
        background-color: $gray-800;
        box-shadow: $input-shadow;
        border-color: $gray-700;

        .select_option {
            color: $gray-100;

            &:hover {
                background-color: $gray-700;
            }
        }
    }
}
