@mixin Toggle {
    position: relative;
    border-radius: 100px;
    border-color: $gray-600;
    box-shadow: $input-shadow;
    background-color: $gray-600;
}

.toggle {
    &::before {
        background-color: white;
        border-color: $gray-300;
    }

    &:checked {
        background-color: $blue-500;
        border-color: $blue-400 !important;
    }
}
